@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Things that are easier to do in CSS rather than in Tailwind */

html {
  scroll-behavior: smooth;
  background-color: #1b1b1b;
}

::selection {
  background-color: rgb(89, 194, 187, 0.4);
}

.roadmap {
  background-image: url("/roadmap-bg.svg");
  background-size: contain;
  background-color: #FBBF24;
}

.mission, #team {
  background-color: #AD800C; 
}

.mint-button {
  @apply font-bangers text-3xl rounded-3xl text-indigo-700 bg-yellow-400 
  px-14 py-2 cursor-pointer hover:bg-opacity-60 hover:px-12 focus-visible:px-12 focus-visible:bg-opacity-60
   transition-all duration-150 mx-auto mt-5;
}

/* This makes sure that nav stays at correct level without implementing abstract parent class */
.nav-margin {
  margin-bottom: -430px;
}

.last-planet {
  bottom: -350%;
}

.about {
  bottom: -200%;
}

.background {
  background: url("/bg-1.svg");
  background-size: cover;
  z-index: -10;
}

.nav-title {
  @apply font-spaceMono;
  font-size: 0.6rem;
  letter-spacing: 0.7rem;
}

.team-role {
  @apply font-spaceMono;
  font-size: 1rem;
  letter-spacing: 1rem;
}

.nav-list-item {
  background-image: linear-gradient(90deg, #fcd34d, #f59e0b);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  cursor: pointer;
}

.nav-list-item:hover,
.nav-list-item:focus-visible {
  background-size: 100% 3px;
}

@media screen and (min-width: 768px) {
  .last-planet {
    bottom: -200%;
  }
  .about {
    bottom: -120%;
  }
}

@media screen and (min-width: 1024px) {
  .nav-margin {
    margin-bottom: -500px;
  }

  .nav-title {
    font-size: 0.8rem;
    letter-spacing: 0.85rem;
  }
}
